<!DOCTYPE HTML>
<html>
<head>
  <title>Assignment about Nothing</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p><H1>An Assignment About nothing</H1>

There are 9 seasons of Seinfeld <br>

A few example links: <br>

<a href="characterstats?character=GEORGE&season=5">George's season 5 stats</a><br>
<a href="characterstats?character=JIMMY">Jimmy's all season stats</a><br>
<a href="characterstats?character=BANIA&season=7">Bania's season 7 stats</a><br>
<a href="characterstats?character=KRAMER&season=9">Kramer's season 9 stats</a><br>
<a href="seasonstats?season=6&position=3">Season 6 stats (position 3)</a><br>
<a href="seasonstats?season=7&position=7">Season 7 stats (position 7)</a><br>
</body>
</html>