<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Seinfeld Season Stats</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<main role="main" class="container">
    <div class="starter-template">
        <h1><span th:text="'Summary Statistics for Season: ' + ${season}"></span></h1>
        <img src=cast.jpg th:src="@{images/cast2.jpg}">
        <h2>
            <!-- // placeholder to get message from Model -->
            <span th:text="'Character With ' + ${position} + 'th Most Lines: ' + ${mostLines}"></span><br>
            <span th:text="'Character with ' + ${position} + 'th Most Words: ' + ${mostWords}"></span><br>
            <span th:text="'Average number of Lines: ' + ${avgLines}"></span><br>
            <span th:text="'Unique Characters: ' + ${uniques}"></span><br>
        </h2>
    </div>
</main>
<!-- /.container -->
<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>